<a href="https://www.kaggle.com/code/osamabarakat/better-way-to-segment-your-customers?scriptVersionId=100230207" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
import pandas as pd
df = pd.read_csv("../input/filter-customers/datacamp_workspace_export_2022-07-06 18_53_39.csv")

# info about Regions
x = df["Region"]
len_x = len(x)
list_x = []
for i in x:
    list_x.append(i)
list_special = list(set(list_x))

# info about doctors
x_2 = df["DoctorID"]
list_x2 =[]
for i in x_2:
    list_x2.append(i)
list_x2_special = len(list_x2)

# number of doctors in each region
unique = df.drop_duplicates(subset=["DoctorID","Region"])
(unique["Region"].value_counts(sort=True,ascending=True))

number of regions is : 46
number of doctors is : 437
1 19 20     1
23 3        1
3 16        1
2 6 10      1
1 4CP       1
1 13 T4     1
2 6 14      2
1 21 T4     2
1 12 T4     2
5 18        3
4 15        3
1 14 T4     4
1 21 T3     4
2 6 8       4
2 6 19      5
2 6 12      5
2 7 8       5
2 6 9       5
17          6
1 8 T4      6
2 7 12      6
2 6 13      6
1 12 T3     6
2 7 13      6
22 18       7
1 9 T4      7
2 7 10      7
2 7 14      7
2 7 9       8
1 10 T3     8
2 11        9
1 19 T4     9
1 13 T3    11
1 9 T3     11
1 19 T3    13
1 8 T3     14
2 7 19     14
1 10       15
1 14 T3    15
1 8        21
1 11       23
1 12       23
1 19       31
1 14       32
1 9        32
1 13       34