# component of project
* **statistical concepts**
* **applied this statistical concepts**

In [1]:
import pandas as pd
df = pd.read_csv("../input/salary/ds_salaries.csv")
df

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

In [2]:
# quantitative and qualitative variables.

# to display summary of data set.
res = df.info()
res

# from result the data set contain five integer columns and seven string columns.
""" The statistical part here is the difference between quantitative and qualitative(cattegorical) variables 
Where the int number is quantitative variable and object is qualitative variable. """
# the type of quantitative number here is descrite type
# if the data set contain any numbers other than integer number this portion is called continuous type form quantitative type.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

' The statistical part here is the difference between quantitative and qualitative(cattegorical) variables \nWhere the int number is quantitative variable and object is qualitative variable. '

In [3]:
# random and nonrandom of data set
# random variables: it's any portion that we selection it before sort the data set and nonrandom variable is versa.
random = df[["job_title", "salary"]]

# with random variable
# Because selection any portions of number any number in data set have a chanse to choose it.
random

# with nonrandom variable
# Because selection any portions of numbers dosen't make a chance to another numbers to choose them due to sorting.
random.sort_values("salary")

                job_title    salary
238        Data Scientist      4000
185         Data Engineer      4000
15           Data Analyst      8000
124          Data Analyst      8760
196       BI Data Analyst      9272
..                    ...       ...
285  Data Science Manager   7000000
137           ML Engineer   8500000
7          Data Scientist  11000000
102       BI Data Analyst  11000000
177        Data Scientist  30400000

[607 rows x 2 columns]